html:root {
  --slate-gray: #788591;
  --pale-gray: #f1f1f1;
  --light-gray: #fafafa;

  --ice-white: #eff3fe;
  --light-blue: #ebebeb;
  --error-red: #ef2c46;

  // from figma components
  --success: #158421;
  --success-bg: #e0fae3;
  --error: #ed5d59;
  --error-bg: #fdf3f2;

  // old
  --dark: #0c0c0c;
  --light: #ffffff;
  --primary: #0e40cf;
}
