<div class="side-menu-container">
  <a class="side-menu-container__mobile-toggler">Menu</a>
  <nav class="nav flex-column side-menu-container__menu">
    <a class="nav-link side-menu-container__menu-link" href="#prosopika-stoixeia">Α. ΠΡΟΣΩΠΙΚΑ ΣΤΟΙΧΕΙΑ </a>
    <a class="nav-link side-menu-container__menu-link" href="#koinonika">Β. ΟΙΚΟΓΕΝΕΙΑΚΑ & ΚΟΙΝΩΝΙΚΟ-ΟΙΚΟΝΟΜΙΚΑ ΣΤΟΙΧΕΙΑ</a>
    <a class="nav-link side-menu-container__menu-link" href="#akadimaiki-ekseliksi">Γ. ΑΚΑΔΗΜΑΪΚΟ ΠΡΟΦΙΛ</a>
    <a class="nav-link side-menu-container__menu-link" href="#epidiwkomenes-spoudes">Δ. ΕΠΙΔΙΩΚΟΜΕΝΕΣ ΣΠΟΥΔΕΣ</a>
    <a class="nav-link side-menu-container__menu-link" href="#keimena-aitiologisis">Ε. ΚΕΙΜΕΝΑ ΑΙΤΙΟΛΟΓΗΣΗΣ / ΣΤΟΧΕΥΣΗΣ</a>
    <a class="nav-link side-menu-container__menu-link" href="#kostos_spoudwn">Ζ. ΚΟΣΤΟΣ ΚΑΙ ΧΡΗΜΑΤΟΔΟΤΗΣΗ ΕΠΙΔΙΩΚΟΜΕΝΩΝ ΣΠΟΥΔΩΝ</a>
    <a class="nav-link side-menu-container__menu-link" href="#kostos_spoudwn">Ζ. ΚΟΣΤΟΣ ΚΑΙ ΧΡΗΜΑΤΟΔΟΤΗΣΗ ΕΠΙΔΙΩΚΟΜΕΝΩΝ ΣΠΟΥΔΩΝ</a>
    <a class="nav-link side-menu-container__menu-link" href="#kostos_spoudwn">Ζ. ΚΟΣΤΟΣ ΚΑΙ ΧΡΗΜΑΤΟΔΟΤΗΣΗ ΕΠΙΔΙΩΚΟΜΕΝΩΝ ΣΠΟΥΔΩΝ</a>
  </nav>
</div>
