.alert {
  background-color: var(--pale-gray);
  border-radius: 6px;
  border: none;
  margin-bottom: 5.4rem;

  &__content {
    font-weight: 500;
    padding: 1.5rem;
    //visual hierarchy issue. Suggested size: 14px
    @include font-size-16;
    color: var(--dark);

    @include when-less('sm') {
      @include font-size-12;
    }
  }
}
