.side-menu-container {
  display: flex;
  position: sticky;
  top: 12rem;
  align-items: flex-start;
  width: 25rem;
  height: calc(100vh - 24rem);
  overflow-y: auto;
  margin-right: 2rem;

  &__menu {
    background-color: var(--light-gray);
    border-radius: 8px;
    padding: 1rem 1rem;
  }

  &__menu-link {
    color: var(--dark);
    font-weight: 500;

    &:hover {
      color: var(--primary);
    }
  }

  &__mobile-toggler {
    display: none;
    @include font-size-18;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 1.5rem;
    background-color: red;
    padding: 0.5rem;
  }

  @include when-less('xl') {
    height: unset;
    padding: 0;
    width: unset;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 3rem;
    z-index: 100;

    // We leave this for the future generation to figure out
    display: none;
    &__mobile-toggler {
      display: block;
    }

    &__menu {
      display: none;

      &.show {
        display: block;
      }
    }
  }
}
