.categorization-bubble {
  background-color: var(--primary);
  color: var(--light);

  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 8px 0px rgba(0,0,0,0.6);
}
