.dropdown {
  .dropdown-toggle::before {
    content: url("data:image/svg+xml,%3csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.921875 1.86157L3.9988 4.9385L7.07572 1.86157' stroke='%230C0C0C' stroke-width='1.23077' stroke-linecap='square'/%3e%3c/svg%3e");
    position: absolute;
    margin-left: 13.5rem;
    margin-top: -0.25rem;
  }

  .dropdown-toggle:hover::before {
    content: url("data:image/svg+xml,%3csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.921875 4.93848L3.9988 1.86155L7.07572 4.93848' stroke='white' stroke-width='1.23077' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  .dropdown-toggle:active:before {
    content: url("data:image/svg+xml,%3csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.921875 4.93848L3.9988 1.86155L7.07572 4.93848' stroke='white' stroke-width='1.23077' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .dropdown-toggle::after {
    margin-left: 3rem;
    display: none;

    @include when-less('sm') {
      margin-left: 1rem;
    }
  }
  .circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--error-red);
    position: absolute;
    margin-left: 11.5rem;
  }
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0px;
  height: -webkit-fill-available;

  .table {
    width: 40vw;
    background-color: var(--light-gray);
    padding: 2.4rem;

    @include when-less('sm') {
      margin-top: 2rem;
    }

    tr {
      margin-left: 2.4rem;
      cursor: pointer;
    }

    td {
      @include font-size-14;
    }
  }
  .table > :not(caption) > * > * {
    padding: 2.4rem;
  }
}
