.filter-bar {
  display: flex;
  margin-right: 3rem;
  margin-left: 3rem;
  flex-direction: column;

  .form__element {
    // width: 200px;
    // margin-right: 2rem;
    white-space: normal;
  }

  .form__element-label {
    white-space: nowrap;
  }
}
