.footer {
  display: flex;
  padding: 2.4rem;
  color: var(--slate-gray);
  @include font-size-12;
  font-weight: 500;

  &__links {
    margin-left: auto;
    padding-left: 1.5rem;
  }
  &__links-item {
    margin-right: 3rem;
    transition: $trans;
    &:hover {
      color: var(--dark);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include when-less('sm') {
    flex-direction: column;
    &__links {
      margin-top: 1.5rem;
      padding-left: 0;
      margin-left: unset;
    }
    &__links-item {
      margin-right: 1.5rem;
    }
  }
}
