.helper-nav {
  background-color: var(--pale-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  margin-top: 1.3rem;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 99;
  }

  @include when-less('sm') {
    height: auto;
    margin-top: unset;

    .navbar {
      @include when-less('sm') {
        flex-direction: column;
      }
    }

    a {
      @include font-size-12;
      margin-left: 1.2rem;
    }
  }
}

#director-navbar {
  margin-bottom: 1rem;
}
