.list-wrapper {
  .sort.asc::after {
    content: '\002B06';
    padding-left: 3px;
  }

  .sort.desc::after {
    content: '\002B07';
    padding-left: 3px;
  }
}

.search-container {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: var(--light-gray);

  &:hover {
    background-color: transparent;
  }

  input {
    border: none;
    padding-left: 4px;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}
