.table-responsive {
  padding: 2.4rem;
  padding-top: 1rem;

  .table {
    // width: 100vw;

    th {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &.hidden {
        display: none;
      }
    }

    .sort::after {
      content: '\002B07';
      padding-left: 3px;
    }

    tr {
      height: 6.5rem;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 3rem 0 0;
    }

    td {
      color: var(--dark);

      @include when-less('sm') {
        padding: 0 3rem 0 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &.hidden {
        display: none;
      }
    }
  }

  .table-hover > tbody > tr:hover > * {
    // color: var(--light);
    // background-color: var(--dark);
    // cursor: pointer;
  }
}

//styling for table in edit-form.html
#education-table {
  padding: 0;
}

.dropdown-menu.show {
  border: none;
}

.dropdown-menu .table {
  border: 1px solid grey;
}

// style entries text
// .entries {
//   margin-left: 3rem;
//   font-weight: 500;
//   margin-top: 5rem;
// }

.table-search {
  padding-left: 3rem;
  padding-right: 3rem;
  font-weight: 500;
  margin-top: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
