.editor {
  height: auto;

  .show {
    display: block;
  }
}

#create-editor {
  color: var(--primary) !important;
  @include font-size-14;
  font-weight: 500;
  border: none;
  width: auto;
  text-decoration: underline;
  padding: 0;
}

#create-editor:hover {
  background-color: transparent !important;
  font-weight: 600;
}
