<option value="ΕΛΛΗΝΙΚΗ">ΕΛΛΗΝΙΚΗ</option>
<option value="ΑΓΚΟΛΕΖΙΚΗ">ΑΓΚΟΛΕΖΙΚΗ</option>
<option value="ΑΖΕΡΙΚΗ">ΑΖΕΡΙΚΗ</option>
<option value="ΑΙΓΥΠΤΙΑΚΗ">ΑΙΓΥΠΤΙΑΚΗ</option>
<option value="ΑΙΘΙΟΠΙΚΗ">ΑΙΘΙΟΠΙΚΗ</option>
<option value="ΑΛΒΑΝΙΚΗ">ΑΛΒΑΝΙΚΗ</option>
<option value="ΑΛΓΕΡΙΝΗ">ΑΛΓΕΡΙΝΗ</option>
<option value="ΑΜΕΡΙΚΑΝΙΚΗ">ΑΜΕΡΙΚΑΝΙΚΗ</option>
<option value="ΑΝΔΟΡΡΑ">ΑΝΔΟΡΡΑ</option>
<option value="ΑΡΓΕΝΤΙΝΙΚΗ">ΑΡΓΕΝΤΙΝΙΚΗ</option>
<option value="ΑΡΜΕΝΙΚΗ">ΑΡΜΕΝΙΚΗ</option>
<option value="ΑΥΣΤΡΑΛΙΑΝΗ">ΑΥΣΤΡΑΛΙΑΝΗ</option>
<option value="ΑΥΣΤΡΙΑΚΗ">ΑΥΣΤΡΙΑΚΗ</option>
<option value="ΑΦΓΑΝΙΚΗ">ΑΦΓΑΝΙΚΗ</option>
<option value="ΑΪΤΙΚΗ">ΑΪΤΙΚΗ</option>
<option value="ΒΕΛΓΙΚΗ">ΒΕΛΓΙΚΗ</option>
<option value="ΒΕΝΕΖΟΥΕΛΑΝΗ">ΒΕΝΕΖΟΥΕΛΑΝΗ</option>
<option value="ΒΙΕΤΝΑΜΕΖΙΚΗ">ΒΙΕΤΝΑΜΕΖΙΚΗ</option>
<option value="ΒΟΛΙΒΙΑΝΗ">ΒΟΛΙΒΙΑΝΗ</option>
<option value="ΒΟΡΕΙΟΚΟΡΕΑΤΙΚΗ">ΒΟΡΕΙΟΚΟΡΕΑΤΙΚΗ</option>
<option value="ΒΟΣΝΙΑΚΗ">ΒΟΣΝΙΑΚΗ</option>
<option value="ΒΟΥΛΓΑΡΙΚΗ">ΒΟΥΛΓΑΡΙΚΗ</option>
<option value="ΒΡΑΖΙΛΙΑΝΙΚΗ">ΒΡΑΖΙΛΙΑΝΙΚΗ</option>
<option value="ΒΡΕΤΑΝΙΚΗ">ΒΡΕΤΑΝΙΚΗ</option>
<option value="ΓΑΛΛΙΚΗ">ΓΑΛΛΙΚΗ</option>
<option value="ΓΕΡΜΑΝΙΚΗ">ΓΕΡΜΑΝΙΚΗ</option>
<option value="ΓΕΩΡΓΙΑΝΗ">ΓΕΩΡΓΙΑΝΗ</option>
<option value="ΓΡΟΙΛΑΝΔΙΚΗ">ΓΡΟΙΛΑΝΔΙΚΗ</option>
<option value="ΔΑΝΕΖΙΚΗ">ΔΑΝΕΖΙΚΗ</option>
<option value="ΔΟΜΙΝΙΚΑΝΗ">ΔΟΜΙΝΙΚΑΝΗ</option>
<option value="ΕΛΒΕΤΙΚΗ">ΕΛΒΕΤΙΚΗ</option>
<option value="ΕΣΘΟΝΙΚΗ">ΕΣΘΟΝΙΚΗ</option>
<option value="ΙΑΠΩΝΙΚΗ">ΙΑΠΩΝΙΚΗ</option>
<option value="ΙΝΔΙΚΗ">ΙΝΔΙΚΗ</option>
<option value="ΙΝΔΟΝΗΣΙΑΚΗ">ΙΝΔΟΝΗΣΙΑΚΗ</option>
<option value="ΙΟΡΔΑΝΙΚΗ">ΙΟΡΔΑΝΙΚΗ</option>
<option value="ΙΡΑΚΙΝΗ">ΙΡΑΚΙΝΗ</option>
<option value="ΙΡΑΝΙΚΗ">ΙΡΑΝΙΚΗ</option>
<option value="ΙΡΛΑΝΔΙΚΗ">ΙΡΛΑΝΔΙΚΗ</option>
<option value="ΙΣΛΑΝΔΙΚΗ">ΙΣΛΑΝΔΙΚΗ</option>
<option value="ΙΣΠΑΝΙΚΗ">ΙΣΠΑΝΙΚΗ</option>
<option value="ΙΣΡΑΗΛΙΝΗ">ΙΣΡΑΗΛΙΝΗ</option>
<option value="ΙΤΑΛΙΚΗ">ΙΤΑΛΙΚΗ</option>
<option value="ΚΑΖΑΧΙΚΗ">ΚΑΖΑΧΙΚΗ</option>
<option value="ΚΑΜΠΟΤΖΙΑΝΗ">ΚΑΜΠΟΤΖΙΑΝΗ</option>
<option value="ΚΑΝΑΔΙΚΗ">ΚΑΝΑΔΙΚΗ</option>
<option value="ΚΑΤΑΡΙΑΝΙΚΗ">ΚΑΤΑΡΙΑΝΙΚΗ</option>
<option value="ΚΕΝΤΡΟΑΦΡΙΚΑΝΙΚΗ">ΚΕΝΤΡΟΑΦΡΙΚΑΝΙΚΗ</option>
<option value="ΚΕΝΥΑΤΙΚΗ">ΚΕΝΥΑΤΙΚΗ</option>
<option value="ΚΙΝΕΖΙΚΗ">ΚΙΝΕΖΙΚΗ</option>
<option value="ΚΙΡΓΙΖΙΑΝΗ">ΚΙΡΓΙΖΙΑΝΗ</option>
<option value="ΚΟΛΟΜΒΙΑΝΗ">ΚΟΛΟΜΒΙΑΝΗ</option>
<option value="ΚΟΜΟΡΙΚΗ">ΚΟΜΟΡΙΚΗ</option>
<option value="ΚΟΝΓΚΟΛΕΖΙΚΗ">ΚΟΝΓΚΟΛΕΖΙΚΗ</option>
<option value="ΚΟΣΤΑΡΙΚΑΝΗ">ΚΟΣΤΑΡΙΚΑΝΗ</option>
<option value="ΚΟΥΒΑΝΕΖΙΚΗ">ΚΟΥΒΑΝΕΖΙΚΗ</option>
<option value="ΚΟΥΒΕΪΤΙΑΝΗ">ΚΟΥΒΕΪΤΙΑΝΗ</option>
<option value="ΚΡΟΑΤΙΚΗ">ΚΡΟΑΤΙΚΗ</option>
<option value="ΚΥΠΡΙΑΚΗ">ΚΥΠΡΙΑΚΗ</option>
<option value="ΛΑΟΤΙΝΗ">ΛΑΟΤΙΝΗ</option>
<option value="ΛΕΤΟΝΙΚΗ">ΛΕΤΟΝΙΚΗ</option>
<option value="ΛΕΥΚΟΡΩΣΙΚΗ">ΛΕΥΚΟΡΩΣΙΚΗ</option>
<option value="ΛΙΒΑΝΕΖΙΚΗ">ΛΙΒΑΝΕΖΙΚΗ</option>
<option value="ΛΙΒΕΡΙΑΝΗ">ΛΙΒΕΡΙΑΝΗ</option>
<option value="ΛΙΒΥΚΗ">ΛΙΒΥΚΗ</option>
<option value="ΛΙΘΟΥΑΝΙΚΗ">ΛΙΘΟΥΑΝΙΚΗ</option>
<option value="ΛΙΧΤΕΝΣΤΑΪΝ">ΛΙΧΤΕΝΣΤΑΪΝ</option>
<option value="ΛΟΥΞΕΜΒΟΥΡΓΙΑΝΗ">ΛΟΥΞΕΜΒΟΥΡΓΙΑΝΗ</option>
<option value="ΜΑΛΑΙΣΙΑΝΗ">ΜΑΛΑΙΣΙΑΝΗ</option>
<option value="ΜΑΛΓΑΣΙΚΗ">ΜΑΛΓΑΣΙΚΗ</option>
<option value="ΜΑΛΤΕΖΙΚΗ">ΜΑΛΤΕΖΙΚΗ</option>
<option value="ΜΑΡΟΚΙΝΗ">ΜΑΡΟΚΙΝΗ</option>
<option value="ΜΑΥΡΙΚΙΑΝΗ">ΜΑΥΡΙΚΙΑΝΗ</option>
<option value="ΜΑΥΡΙΤΑΝΙΚΗ">ΜΑΥΡΙΤΑΝΙΚΗ</option>
<option value="ΜΑΥΡΟΒΟΥΝΙΑΚΗ">ΜΑΥΡΟΒΟΥΝΙΑΚΗ</option>
<option value="ΜΕΞΙΚΑΝΙΚΗ">ΜΕΞΙΚΑΝΙΚΗ</option>
<option value="ΜΟΓΓΟΛΙΚΗ">ΜΟΓΓΟΛΙΚΗ</option>
<option value="ΜΟΖΑΜΒΙΚΙΑΝΗ">ΜΟΖΑΜΒΙΚΙΑΝΗ</option>
<option value="ΜΟΛΔΑΒΙΚΗ">ΜΟΛΔΑΒΙΚΗ</option>
<option value="ΜΟΝΕΓΑΣΚΙΚΗ">ΜΟΝΕΓΑΣΚΙΚΗ</option>
<option value="ΜΠΟΤΣΟΥΑΝΗ">ΜΠΟΤΣΟΥΑΝΗ</option>
<option value="ΜΠΟΥΡΟΥΝΤΙΑΝΗ">ΜΠΟΥΡΟΥΝΤΙΑΝΗ</option>
<option value="ΜΠΟΥΤΑΝΕΖΙΚΗ">ΜΠΟΥΤΑΝΕΖΙΚΗ</option>
<option value="ΝΕΟΖΗΛΑΝΔΙΚΗ">ΝΕΟΖΗΛΑΝΔΙΚΗ</option>
<option value="ΝΕΠΑΛΕΖΙΚΗ">ΝΕΠΑΛΕΖΙΚΗ</option>
<option value="ΝΙΓΗΡΙΑΝΗ">ΝΙΓΗΡΙΑΝΗ</option>
<option value="ΝΙΓΗΡΙΚΗ">ΝΙΓΗΡΙΚΗ</option>
<option value="ΝΙΚΑΡΑΓΟΥΑΝΗ">ΝΙΚΑΡΑΓΟΥΑΝΗ</option>
<option value="ΝΟΡΒΗΓΙΚΗ">ΝΟΡΒΗΓΙΚΗ</option>
<option value="ΝΟΤΙΟΑΦΡΙΚΑΝΙΚΗ">ΝΟΤΙΟΑΦΡΙΚΑΝΙΚΗ</option>
<option value="ΝΟΤΙΟΚΟΡΕΑΤΙΚΗ">ΝΟΤΙΟΚΟΡΕΑΤΙΚΗ</option>
<option value="ΟΛΛΑΝΔΙΚΗ">ΟΛΛΑΝΔΙΚΗ</option>
<option value="ΟΥΓΓΡΙΚΗ">ΟΥΓΓΡΙΚΗ</option>
<option value="ΟΥΓΚΑΝΤΕΖΙΚΗ">ΟΥΓΚΑΝΤΕΖΙΚΗ</option>
<option value="ΟΥΖΜΠΕΚΙΚΗ">ΟΥΖΜΠΕΚΙΚΗ</option>
<option value="ΟΥΚΡΑΝΙΚΗ">ΟΥΚΡΑΝΙΚΗ</option>
<option value="ΟΥΡΟΥΓΟΥΑΝΗ">ΟΥΡΟΥΓΟΥΑΝΗ</option>
<option value="ΠΑΚΙΣΤΑΝΙΚΗ">ΠΑΚΙΣΤΑΝΙΚΗ</option>
<option value="ΠΑΛΑΙΣΤΙΝΙΑΚΗ">ΠΑΛΑΙΣΤΙΝΙΑΚΗ</option>
<option value="ΠΑΝΑΜΕΖΙΚΗ">ΠΑΝΑΜΕΖΙΚΗ</option>
<option value="ΠΑΡΑΓΟΥΑΝΙΚΗ">ΠΑΡΑΓΟΥΑΝΙΚΗ</option>
<option value="ΠΕΡΟΥΒΙΑΝΗ">ΠΕΡΟΥΒΙΑΝΗ</option>
<option value="ΠΟΛΩΝΙΚΗ">ΠΟΛΩΝΙΚΗ</option>
<option value="ΠΟΡΤΟΓΑΛΙΚΗ">ΠΟΡΤΟΓΑΛΙΚΗ</option>
<option value="ΠΟΡΤΟΡΙΚΑΝΗ">ΠΟΡΤΟΡΙΚΑΝΗ</option>
<option value="ΡΟΥΑΝΤΕΖΙΚΗ">ΡΟΥΑΝΤΕΖΙΚΗ</option>
<option value="ΡΟΥΜΑΝΙΚΗ">ΡΟΥΜΑΝΙΚΗ</option>
<option value="ΡΩΣΙΚΗ">ΡΩΣΙΚΗ</option>
<option value="ΣΑΜΟΪΚΗ">ΣΑΜΟΪΚΗ</option>
<option value="ΣΑΟΥΔΑΡΑΒΙΚΗ">ΣΑΟΥΔΑΡΑΒΙΚΗ</option>
<option value="ΣΕΝΕΓΑΛΕΖΙΚΗ">ΣΕΝΕΓΑΛΕΖΙΚΗ</option>
<option value="ΣΕΡΒΙΚΗ">ΣΕΡΒΙΚΗ</option>
<option value="ΣΙΓΚΑΠΟΥΡΙΑΝΗ">ΣΙΓΚΑΠΟΥΡΙΑΝΗ</option>
<option value="ΣΛΑΒΟΜΑΚΕΔΟΝΙΚΗ">ΣΛΑΒΟΜΑΚΕΔΟΝΙΚΗ</option>
<option value="ΣΛΟΒΑΚΙΚΗ">ΣΛΟΒΑΚΙΚΗ</option>
<option value="ΣΛΟΒΕΝΙΚΗ">ΣΛΟΒΕΝΙΚΗ</option>
<option value="ΣΟΜΑΛΙΚΗ">ΣΟΜΑΛΙΚΗ</option>
<option value="ΣΟΥΑΝΖΙΛΑΝΔΙΚΗ">ΣΟΥΑΝΖΙΛΑΝΔΙΚΗ</option>
<option value="ΣΟΥΔΑΝΙΚΗ">ΣΟΥΔΑΝΙΚΗ</option>
<option value="ΣΟΥΗΔΙΚΗ">ΣΟΥΗΔΙΚΗ</option>
<option value="ΣΟΥΡΙΝΑΜΕΖΙΚΗ">ΣΟΥΡΙΝΑΜΕΖΙΚΗ</option>
<option value="ΣΥΡΙΑΚΗ">ΣΥΡΙΑΚΗ</option>
<option value="ΤΑΝΖΑΝΙΚΗ">ΤΑΝΖΑΝΙΚΗ</option>
<option value="ΤΑΤΖΙΚΙΚΗ">ΤΑΤΖΙΚΙΚΗ</option>
<option value="ΤΑΪΒΑΝΕΖΙΚΗ">ΤΑΪΒΑΝΕΖΙΚΗ</option>
<option value="ΤΑΪΛΑΝΔΙΚΗ">ΤΑΪΛΑΝΔΙΚΗ</option>
<option value="ΤΖΑΜΑΪΚΑΝΗ">ΤΖΑΜΑΪΚΑΝΗ</option>
<option value="ΤΟΓΚΙΚΗ">ΤΟΓΚΙΚΗ</option>
<option value="ΤΟΓΚΟΛΙΚΗ">ΤΟΓΚΟΛΙΚΗ</option>
<option value="ΤΟΥΒΑΛΟΥΑΝΗ">ΤΟΥΒΑΛΟΥΑΝΗ</option>
<option value="ΤΟΥΡΚΙΚΗ">ΤΟΥΡΚΙΚΗ</option>
<option value="ΤΟΥΡΚΜΕΝΙΚΗ">ΤΟΥΡΚΜΕΝΙΚΗ</option>
<option value="">ΤΡΙΝΙΝΤΑΝΤ ΚΑΤΟΜΠΑΓΚΟΙ ΤΟΜΠΑΓΚΟ</option>
<option value="ΤΣΕΧΙΚΗ">ΤΣΕΧΙΚΗ</option>
<option value="ΤΥΝΗΣΙΑΚΗ">ΤΥΝΗΣΙΑΚΗ</option>
<option value="ΥΕΜΕΝΙΚΗ">ΥΕΜΕΝΙΚΗ</option>
<option value="ΦΙΛΙΠΠΙΝΕΖΙΚΗ">ΦΙΛΙΠΠΙΝΕΖΙΚΗ</option>
<option value="ΦΙΝΛΑΝΔΙΚΗ">ΦΙΝΛΑΝΔΙΚΗ</option>
<option value="ΧΙΛΙΑΝΗ">ΧΙΛΙΑΝΗ</option>
