<option value="Αρχαιολογία">Αρχαιολογία</option>
<option value="Αρχειονομία-Βιβλιοθηκονομία">Αρχειονομία-Βιβλιοθηκονομία</option>
<option value="Αρχιτεκτονική">Αρχιτεκτονική</option>
<option value="Βιολογία">Βιολογία</option>
<option value="Βιομηχανικός Σχεδιασμός &amp; Σχεδιασμός Προϊόντων">Βιομηχανικός Σχεδιασμός &amp; Σχεδιασμός Προϊόντων</option>
<option value="Βιοτεχνολογία">Βιοτεχνολογία</option>
<option value="Γεωλογία, Μεταλλευτική, Μεταλλουργία">Γεωλογία, Μεταλλευτική, Μεταλλουργία</option>
<option value="Γεωπονικές Σπουδές &amp; Τεχνολογία Τροφίμων">Γεωπονικές Σπουδές &amp; Τεχνολογία Τροφίμων</option>
<option value="Γλωσσολογία">Γλωσσολογία</option>
<option value="Δημοσιογραφία, Επικοινωνία &amp; ΜΜΕ">Δημοσιογραφία, Επικοινωνία &amp; ΜΜΕ</option>
<option value="Δημόσιο Δίκαιο">Δημόσιο Δίκαιο</option>
<option value="Διεύθυνση Ορχήστρας-Χορωδίας">Διεύθυνση Ορχήστρας-Χορωδίας</option>
<option value="Διοίκηση &amp; Οργάνωση Επιχειρήσεων">Διοίκηση &amp; Οργάνωση Επιχειρήσεων</option>
<option value="Διοίκηση &amp; Τεχνολογία">Διοίκηση &amp; Τεχνολογία</option>
<option value="Εικαστικές Τέχνες (Ζωγραφική, Γλυπτική, Χαρακτική)">Εικαστικές Τέχνες (Ζωγραφική, Γλυπτική, Χαρακτική)</option>
<option value="Ενεργειακοί Μηχανικοί-Ανανεώσιμες Πηγές Ενέργειας">Ενεργειακοί Μηχανικοί-Ανανεώσιμες Πηγές Ενέργειας</option>
<option value="Ενόργανη Μουσική">Ενόργανη Μουσική</option>
<option value="Επιστήμες Περιβάλλοντος">Επιστήμες Περιβάλλοντος</option>
<option value="Ηλεκτρολόγοι Μηχανικοί-Τηλεπικοινωνίες">Ηλεκτρολόγοι Μηχανικοί-Τηλεπικοινωνίες</option>
<option value="Θεατρολογία, Σπουδές Κινηματογράφου, Υποκριτική, Σκηνοθεσία">Θεατρολογία, Σπουδές Κινηματογράφου, Υποκριτική,</option>
Σκηνοθεσία
<option value="Θεωρητικές Σπουδές Μουσικής-Μουσικολογία">Θεωρητικές Σπουδές Μουσικής-Μουσικολογία</option>
<option value="Θρησκειολογία-Θεολογία">Θρησκειολογία-Θεολογία</option>
<option value="Ιατρική">Ιατρική</option>
<option value="Ιδιωτικό Δίκαιο">Ιδιωτικό Δίκαιο</option>
<option value="Ιστορία">Ιστορία</option>
<option value="Ιστορία &amp; Θεωρία της Τέχνης">Ιστορία &amp; Θεωρία της Τέχνης</option>
<option value="Κοινωνιολογία, Κοινωνική Ανθρωπολογία &amp; Κοινωνιολογία του Δικαίου">Κοινωνιολογία, Κοινωνική Ανθρωπολογία &</option>
amp; Κοινωνιολογία του Δικαίου
<option value="Κτηνιατρική">Κτηνιατρική</option>
<option value="Μαθηματικά &amp; Στατιστική">Μαθηματικά &amp; Στατιστική</option>
<option value="Μετάφραση-Διερμηνεία">Μετάφραση-Διερμηνεία</option>
<option value="Μηχανολόγοι Μηχανικοί">Μηχανολόγοι Μηχανικοί</option>
<option value="Μουσειολογία">Μουσειολογία</option>
<option value="Μουσική Σύνθεση">Μουσική Σύνθεση</option>
<option value="Ναυπηγική-Αεροναυπηγική-Αεροναυτική">Ναυπηγική-Αεροναυπηγική-Αεροναυτική</option>
<option value="Νοσηλευτική">Νοσηλευτική</option>
<option value="Οδοντιατρική">Οδοντιατρική</option>
<option value="Οικονομικές Επιστήμες">Οικονομικές Επιστήμες</option>
<option value="Παιδαγωγικές Επιστήμες">Παιδαγωγικές Επιστήμες</option>
<option value="Πληροφορική">Πληροφορική</option>
<option value="Ποινικό Δίκαιο">Ποινικό Δίκαιο</option>
<option value="Πολιτική Επιστήμη &amp; Διεθνείς Σχέσεις">Πολιτική Επιστήμη &amp; Διεθνείς Σχέσεις</option>
<option value="Πολιτικοί Μηχανικοί">Πολιτικοί Μηχανικοί</option>
<option value="Πολιτιστική Διαχείριση">Πολιτιστική Διαχείριση</option>
<option value="Σκηνογραφία, Ενδυματολογία, Τεχνικά Επαγγέλματα Θεάτρου- Κινηματογράφου - Τηλεόρασης">Σκηνογραφία,</option>
Ενδυματολογία, Τεχνικά Επαγγέλματα Θεάτρου- Κινηματογράφου - Τηλεόρασης
<option value="Σπουδές Φυσικής Αγωγής">Σπουδές Φυσικής Αγωγής</option>
<option value="Συντήρηση Έργων Τέχνης, Αρχαιοτήτων, Βιβλίου, Υφάσματος">Συντήρηση Έργων Τέχνης, Αρχαιοτήτων, Βιβλίου,</option>
Υφάσματος
<option value="Τοπογράφοι Μηχανικοί, Γεωγραφία-Γεωδαισία">Τοπογράφοι Μηχανικοί, Γεωγραφία-Γεωδαισία</option>
<option value="Τραγούδι">Τραγούδι</option>
<option value="Φαρμακευτική-Φαρμακολογία-Φαρμακογονιδιωματική">Φαρμακευτική-Φαρμακολογία-Φαρμακογονιδιωματική</option>
<option value="Φιλολογία">Φιλολογία</option>
<option value="Φιλοσοφία">Φιλοσοφία</option>
<option value="Φυσική">Φυσική</option>
<option value="Φωτογραφία, Γραφικές &amp; Εφαρμοσμένες Τέχνες, Βίντεο-Πολυμέσα">Φωτογραφία, Γραφικές &amp; Εφαρμοσμένες</option>
Τέχνες, Βίντεο-Πολυμέσα
<option value="Χημεία">Χημεία</option>
<option value="Χημικοί Μηχανικοί &amp; Μηχανικοί Επιστήμης των Υλικών">Χημικοί Μηχανικοί &amp; Μηχανικοί Επιστήμης των Υλικών</option>
<option value="Χορός-Χορογραφία">Χορός-Χορογραφία</option>
<option value="Ψυχολογία">Ψυχολογία</option>
