<option value="ΕΛΛΑΔΑ">ΕΛΛΑΔΑ</option>
<option value="ΑΓΚΟΛΑ">ΑΓΚΟΛΑ</option>
<option value="ΑΖΕΡΜΠΑΪΤΖΑΝ">ΑΖΕΡΜΠΑΪΤΖΑΝ</option>
<option value="ΑΙΓΥΠΤΟΣ">ΑΙΓΥΠΤΟΣ</option>
<option value="ΑΙΘΙΟΠΙΑ">ΑΙΘΙΟΠΙΑ</option>
<option value="ΑΛΒΑΝΙΑ">ΑΛΒΑΝΙΑ</option>
<option value="ΑΛΓΕΡΙΑ">ΑΛΓΕΡΙΑ</option>
<option value="ΑΝΔΟΡΡΑ">ΑΝΔΟΡΡΑ</option>
<option value="ΑΡΓΕΝΤΙΝΗ">ΑΡΓΕΝΤΙΝΗ</option>
<option value="ΑΡΜΕΝΙΑ">ΑΡΜΕΝΙΑ</option>
<option value="ΑΥΣΤΡΑΛΙΑ">ΑΥΣΤΡΑΛΙΑ</option>
<option value="ΑΥΣΤΡΙΑ">ΑΥΣΤΡΙΑ</option>
<option value="ΑΦΓΑΝΙΣΤΑΝ">ΑΦΓΑΝΙΣΤΑΝ</option>
<option value="ΑΪΤΗ">ΑΪΤΗ</option>
<option value="ΒΕΛΓΙΟ">ΒΕΛΓΙΟ</option>
<option value="ΒΕΝΕΖΟΥΕΛΑ">ΒΕΝΕΖΟΥΕΛΑ</option>
<option value="ΒΙΕΤΝΑΜ">ΒΙΕΤΝΑΜ</option>
<option value="ΒΟΛΙΒΙΑ">ΒΟΛΙΒΙΑ</option>
<option value="ΒΟΡΕΙΑ ΚΟΡΕΑ">ΒΟΡΕΙΑ ΚΟΡΕΑ</option>
<option value="ΒΟΣΝΙΑ ΚΑΙ ΕΡΖΕΓΟΒΙΝΗ">ΒΟΣΝΙΑ ΚΑΙ ΕΡΖΕΓΟΒΙΝΗ</option>
<option value="ΒΟΥΛΓΑΡΙΑ">ΒΟΥΛΓΑΡΙΑ</option>
<option value="ΒΡΑΖΙΛΙΑ">ΒΡΑΖΙΛΙΑ</option>
<option value="ΓΑΛΛΙΑ">ΓΑΛΛΙΑ</option>
<option value="ΓΕΡΜΑΝΙΑ">ΓΕΡΜΑΝΙΑ</option>
<option value="ΓΕΩΡΓΙΑ">ΓΕΩΡΓΙΑ</option>
<option value="ΓΡΟΙΛΑΝΔΙΑ">ΓΡΟΙΛΑΝΔΙΑ</option>
<option value="ΔΑΝΙΑ">ΔΑΝΙΑ</option>
<option value="ΔΗΜΟΚΡΑΤΙΑ ΤΗΣ ΒΟΡΕΙΑΣ ΜΑΚΕΔΟΝΙΑΣ">ΔΗΜΟΚΡΑΤΙΑ ΤΗΣ ΒΟΡΕΙΑΣ ΜΑΚΕΔΟΝΙΑΣ</option>
<option value="ΔΗΜΟΚΡΑΤΙΑ ΤΟΥ ΚΟΝΓΚΟ">ΔΗΜΟΚΡΑΤΙΑ ΤΟΥ ΚΟΝΓΚΟ</option>
<option value="ΔΟΜΙΝΙΚΑΝΗ ΔΗΜΟΚΡΑΤΙΑ">ΔΟΜΙΝΙΚΑΝΗ ΔΗΜΟΚΡΑΤΙΑ</option>
<option value="ΕΛΒΕΤΙΑ">ΕΛΒΕΤΙΑ</option>
<option value="ΕΣΘΟΝΙΑ">ΕΣΘΟΝΙΑ</option>
<option value="ΗΝΩΜΕΝΟ ΒΑΣΙΛΕΙΟ">ΗΝΩΜΕΝΟ ΒΑΣΙΛΕΙΟ</option>
<option value="ΗΠΑ">ΗΠΑ</option>
<option value="ΙΑΠΩΝΙΑ">ΙΑΠΩΝΙΑ</option>
<option value="ΙΝΔΙΑ">ΙΝΔΙΑ</option>
<option value="ΙΝΔΟΝΗΣΙΑ">ΙΝΔΟΝΗΣΙΑ</option>
<option value="ΙΟΡΔΑΝΙΑ">ΙΟΡΔΑΝΙΑ</option>
<option value="ΙΡΑΚ">ΙΡΑΚ</option>
<option value="ΙΡΑΝ">ΙΡΑΝ</option>
<option value="ΙΡΛΑΝΔΙΑ">ΙΡΛΑΝΔΙΑ</option>
<option value="ΙΣΛΑΝΔΙΑ">ΙΣΛΑΝΔΙΑ</option>
<option value="ΙΣΠΑΝΙΑ">ΙΣΠΑΝΙΑ</option>
<option value="ΙΣΡΑΗΛ">ΙΣΡΑΗΛ</option>
<option value="ΙΤΑΛΙΑ">ΙΤΑΛΙΑ</option>
<option value="ΚΑΖΑΚΣΤΑΝ">ΚΑΖΑΚΣΤΑΝ</option>
<option value="ΚΑΜΠΟΤΖΗ">ΚΑΜΠΟΤΖΗ</option>
<option value="ΚΑΝΑΔΑΣ">ΚΑΝΑΔΑΣ</option>
<option value="ΚΑΤΑΡ">ΚΑΤΑΡ</option>
<option value="ΚΕΝΤΡΟΑΦΡΙΚΑΝΙΚΗ ΔΗΜΟΚΡΑΤΙΑ">ΚΕΝΤΡΟΑΦΡΙΚΑΝΙΚΗ ΔΗΜΟΚΡΑΤΙΑ</option>
<option value="ΚΕΝΥΑ">ΚΕΝΥΑ</option>
<option value="ΚΙΝΑ">ΚΙΝΑ</option>
<option value="ΚΙΡΓΙΖΙΑ">ΚΙΡΓΙΖΙΑ</option>
<option value="ΚΟΛΟΜΒΙΑ">ΚΟΛΟΜΒΙΑ</option>
<option value="ΚΟΜΟΡΕΣ">ΚΟΜΟΡΕΣ</option>
<option value="ΚΟΣΤΑ ΡΙΚΑ">ΚΟΣΤΑ ΡΙΚΑ</option>
<option value="ΚΟΥΒΑ">ΚΟΥΒΑ</option>
<option value="ΚΟΥΒΕΙΤ">ΚΟΥΒΕΙΤ</option>
<option value="ΚΡΟΑΤΙΑ">ΚΡΟΑΤΙΑ</option>
<option value="ΚΥΠΡΟΣ">ΚΥΠΡΟΣ</option>
<option value="ΛΑΟΣ">ΛΑΟΣ</option>
<option value="ΛΕΤΤΟΝΙΑ">ΛΕΤΤΟΝΙΑ</option>
<option value="ΛΕΥΚΟΡΩΣΙΑ">ΛΕΥΚΟΡΩΣΙΑ</option>
<option value="ΛΙΒΑΝΟΣ">ΛΙΒΑΝΟΣ</option>
<option value="ΛΙΒΕΡΙΑ">ΛΙΒΕΡΙΑ</option>
<option value="ΛΙΒΥΗ">ΛΙΒΥΗ</option>
<option value="ΛΙΘΟΥΑΝΙΑ">ΛΙΘΟΥΑΝΙΑ</option>
<option value="ΛΙΧΤΕΝΣΤΑΪΝ">ΛΙΧΤΕΝΣΤΑΪΝ</option>
<option value="ΛΟΥΞΕΜΒΟΥΡΓΟ">ΛΟΥΞΕΜΒΟΥΡΓΟ</option>
<option value="ΜΑΔΑΓΑΣΚΑΡΗ">ΜΑΔΑΓΑΣΚΑΡΗ</option>
<option value="ΜΑΛΑΙΣΙΑ">ΜΑΛΑΙΣΙΑ</option>
<option value="ΜΑΛΤΑ">ΜΑΛΤΑ</option>
<option value="ΜΑΡΟΚΟ">ΜΑΡΟΚΟ</option>
<option value="ΜΑΥΡΙΚΙΟΣ">ΜΑΥΡΙΚΙΟΣ</option>
<option value="ΜΑΥΡΙΤΑΝΙΑ">ΜΑΥΡΙΤΑΝΙΑ</option>
<option value="ΜΑΥΡΟΒΟΥΝΙΟ">ΜΑΥΡΟΒΟΥΝΙΟ</option>
<option value="ΜΕΞΙΚΟ">ΜΕΞΙΚΟ</option>
<option value="ΜΟΓΓΟΛΙΑ">ΜΟΓΓΟΛΙΑ</option>
<option value="ΜΟΖΑΜΒΙΚΗ">ΜΟΖΑΜΒΙΚΗ</option>
<option value="ΜΟΛΔΑΒΙΑ">ΜΟΛΔΑΒΙΑ</option>
<option value="ΜΟΝΑΚΟ">ΜΟΝΑΚΟ</option>
<option value="ΜΠΟΤΣΟΥΑΝΑ">ΜΠΟΤΣΟΥΑΝΑ</option>
<option value="ΜΠΟΥΡΟΥΝΤΙ">ΜΠΟΥΡΟΥΝΤΙ</option>
<option value="ΜΠΟΥΤΑΝ">ΜΠΟΥΤΑΝ</option>
<option value="ΝΕΑ ΖΗΛΑΝΔΙΑ">ΝΕΑ ΖΗΛΑΝΔΙΑ</option>
<option value="ΝΕΠΑΛ">ΝΕΠΑΛ</option>
<option value="ΝΙΓΗΡΑΣ">ΝΙΓΗΡΑΣ</option>
<option value="ΝΙΓΗΡΙΑ">ΝΙΓΗΡΙΑ</option>
<option value="ΝΙΚΑΡΑΓΟΥΑ">ΝΙΚΑΡΑΓΟΥΑ</option>
<option value="ΝΟΡΒΗΓΙΑ">ΝΟΡΒΗΓΙΑ</option>
<option value="ΝΟΤΙΑ ΑΦΡΙΚΗ">ΝΟΤΙΑ ΑΦΡΙΚΗ</option>
<option value="ΟΛΛΑΝΔΙΑ">ΟΛΛΑΝΔΙΑ</option>
<option value="ΟΛΛΑΝΔΙΑ">ΟΛΛΑΝΔΙΑ</option>
<option value="ΟΥΓΓΑΡΙΑ">ΟΥΓΓΑΡΙΑ</option>
<option value="ΟΥΓΚΑΝΤΑ">ΟΥΓΚΑΝΤΑ</option>
<option value="ΟΥΖΜΠΕΚΙΣΤΑΝ">ΟΥΖΜΠΕΚΙΣΤΑΝ</option>
<option value="ΟΥΚΡΑΝΙΑ">ΟΥΚΡΑΝΙΑ</option>
<option value="ΟΥΡΟΥΓΟΥΑΗ">ΟΥΡΟΥΓΟΥΑΗ</option>
<option value="ΠΑΚΙΣΤΑΝ">ΠΑΚΙΣΤΑΝ</option>
<option value="ΠΑΛΑΙΣΤΙΝΙΑΚΑ ΕΔΑΦΗ- ΚΑΤΕΧΟΜΕΝΑ">ΠΑΛΑΙΣΤΙΝΙΑΚΑ ΕΔΑΦΗ- ΚΑΤΕΧΟΜΕΝΑ</option>
<option value="ΠΑΝΑΜΑΣ">ΠΑΝΑΜΑΣ</option>
<option value="ΠΑΝΑΜΑΣ">ΠΑΝΑΜΑΣ</option>
<option value="ΠΑΡΑΓΟΥΑΗ">ΠΑΡΑΓΟΥΑΗ</option>
<option value="ΠΕΡΟΥ">ΠΕΡΟΥ</option>
<option value="ΠΟΛΩΝΙΑ">ΠΟΛΩΝΙΑ</option>
<option value="ΠΟΡΤΟΓΑΛΙΑ">ΠΟΡΤΟΓΑΛΙΑ</option>
<option value="ΠΟΥΕΡΤΟ ΡΙΚΟ">ΠΟΥΕΡΤΟ ΡΙΚΟ</option>
<option value="ΡΟΥΑΝΤΑ">ΡΟΥΑΝΤΑ</option>
<option value="ΡΟΥΜΑΝΙΑ">ΡΟΥΜΑΝΙΑ</option>
<option value="ΡΩΣΙΑ">ΡΩΣΙΑ</option>
<option value="ΣΑΜΟΑ">ΣΑΜΟΑ</option>
<option value="ΣΑΟΥΔΙΚΗ ΑΡΑΒΙΑ">ΣΑΟΥΔΙΚΗ ΑΡΑΒΙΑ</option>
<option value="ΣΕΝΕΓΑΛΗ">ΣΕΝΕΓΑΛΗ</option>
<option value="ΣΕΡΒΙΑ">ΣΕΡΒΙΑ</option>
<option value="ΣΙΓΚΑΠΟΥΡΗ">ΣΙΓΚΑΠΟΥΡΗ</option>
<option value="ΣΛΟΒΑΚΙΑ">ΣΛΟΒΑΚΙΑ</option>
<option value="ΣΛΟΒΕΝΙΑ">ΣΛΟΒΕΝΙΑ</option>
<option value="ΣΟΜΑΛΙΑ">ΣΟΜΑΛΙΑ</option>
<option value="ΣΟΥΑΖΙΛΑΝΔΗ">ΣΟΥΑΖΙΛΑΝΔΗ</option>
<option value="ΣΟΥΔΑΝ">ΣΟΥΔΑΝ</option>
<option value="ΣΟΥΗΔΙΑ">ΣΟΥΗΔΙΑ</option>
<option value="ΣΟΥΡΙΝΑΜ">ΣΟΥΡΙΝΑΜ</option>
<option value="ΣΥΡΙΑ">ΣΥΡΙΑ</option>
<option value="ΤΑΝΖΑΝΙΑ">ΤΑΝΖΑΝΙΑ</option>
<option value="ΤΑΪΒΑΝ">ΤΑΪΒΑΝ</option>
<option value="ΤΑΪΛΑΝΔΗ">ΤΑΪΛΑΝΔΗ</option>
<option value="ΤΖΑΜΑΙΚΑ">ΤΖΑΜΑΙΚΑ</option>
<option value="ΤΟΓΚΟ">ΤΟΓΚΟ</option>
<option value="ΤΟΝΓΚΑ">ΤΟΝΓΚΑ</option>
<option value="ΤΟΥΒΑΛΟΥ">ΤΟΥΒΑΛΟΥ</option>
<option value="ΤΟΥΡΚΙΑ">ΤΟΥΡΚΙΑ</option>
<option value="ΤΟΥΡΚΜΕΝΙΣΤΑΝ">ΤΟΥΡΚΜΕΝΙΣΤΑΝ</option>
<option value="ΤΡΙΝΙΝΤΑΝΤ ΚΑΙ ΤΟΜΠΑΓΚΟ">ΤΡΙΝΙΝΤΑΝΤ ΚΑΙ ΤΟΜΠΑΓΚΟ</option>
<option value="ΤΣΕΧΙΑ">ΤΣΕΧΙΑ</option>
<option value="ΤΥΝΗΣΙΑ">ΤΥΝΗΣΙΑ</option>
<option value="ΥΕΜΕΝΗ">ΥΕΜΕΝΗ</option>
<option value="ΦΙΛΙΠΠΙΝΕΣ">ΦΙΛΙΠΠΙΝΕΣ</option>
<option value="ΦΙΝΛΑΝΔΙΑ">ΦΙΝΛΑΝΔΙΑ</option>
<option value="ΧΙΛΗ">ΧΙΛΗ</option>
