<!-- SECTION -->
<div class="form__section" id="keimena-aitiologisis">
  <div class="form__section-title">Ε. ΑΙΤΙΟΛΟΓΙΑ ΕΠΙΛΟΓΗΣ ΕΠΙΔΙΩΚΟΜΕΝΟΥ ΠΡΟΓΡΑΜΜΑΤΟΣ ΣΠΟΥΔΩΝ</div>
  <!-- FORM ELEMENT -->
  <div class="form__element">
    <label for="exampleid" class="form__element-label"
      >Γιατί αποφασίσατε να ακολουθήσετε σπουδές μεταπτυχιακού/διδακτορικού επιπέδου σε αυτόν τον κλάδο;
    </label>
    <div class="form__element-description">
      Αιτιολογήστε την αναγκαιότητα περαιτέρω έρευνας/ σπουδής στη συγκεκριμένη ειδίκευση. Αναφέρατε γιατί κρίνετε ότι η έρευνά σας είναι
      καινοτόμα.
    </div>
    <textarea class="form__element-input" placeholder="" id="floatingTextarea2" style="height: 400px"></textarea>
  </div>
  <div class="form__element">
    <label for="exampleid" class="form__element-label"
      >Εξηγήστε τους λόγους επιλογής των συγκεκριμένων προγραμμάτων σπουδών/ Πανεπιστημίων/ Εποπτών καθηγητών (σε περίπτωση διδακτορικών
      προγραμμάτων).
    </label>
    <textarea class="form__element-input" placeholder="" id="floatingTextarea2" style="height: 200px"></textarea>
  </div>
  <div class="form__element">
    <label for="exampleid" class="form__element-label">Ποιες είναι οι επαγγελματικές σας επιδιώξεις μετά τη λήξη των σπουδών σας; </label>
    <textarea class="form__element-input" placeholder="" id="floatingTextarea2" style="height: 200px"></textarea>
  </div>
</div>
