<!-- TERMS & CONDITIONS -->
<div class="form__section">
  <div class="form__section-title">ΥΠΕΥΘΥΝΗ ΔΗΛΩΣΗ ΑΠΟΔΟΧΗΣ</div>

  <!-- FORM ELEMENT -->
  <!-- CHECKBOX -->
  <div class="form__element">
    <label class="form__element-checkbox-container">
      <div class="form__element-checkbox-label">Δηλώνω υπεύθυνα ότι αποδέχομαι τους όρους & προϋποθέσεις της προκήρυξης.</div>
      <input type="checkbox" class="form__element-checkbox" />
      <span class="form__element-checkbox-checkmark">
        <svg width="12" height="9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="m1.6 4.327 2.8 2.805 5.77-5.772" stroke="#0E40CF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </span>
    </label>
  </div>
</div>
